<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <%- include('../../partials/meta'); %>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="icon" type="image/png" href="/assets/images/logo.jpg" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <title>Sofia Proyects - Home</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/css/fontawesome.css" />
    <link rel="stylesheet" href="/css/templatemo-digimedia-v1.css" />
    <link rel="stylesheet" href="/css/animated.css" />
    <link rel="stylesheet" href="/css/owl.css" />
    <!--

TemplateMo 568 DigiMedia

https://templatemo.com/tm-568-digimedia

-->
  </head>

  <body>
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <div class="intro-banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <img src="/assets/images/logo.jpg" alt="" />
            <h1>Proyect <%= botname %></h1>
            <h4>
              The proyect is a bot for discord, with the purpose of helping the
              users in the server, with the commands that the bot has, the users
              can have a better experience in the server.
            </h4>
            <div class="first-button scroll-to-section">
              <a href="/web/welcome">
                View proyects <i class="fa fa-angle-down"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="demos" id="demos">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="demo-item">
              <a href="https://discord.gg/nZA8JD6kT3"
                ><img
                  src="/assets/images/welnova.png"
                  width="435"
                  height="760"
                  alt="Welnova Bot"
              /></a>
              <h4>Welnova Bot</h4>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="demo-item">
              <a href="https://discord.gg/9XKHyRc2Ma"
                ><img
                  src="/assets/images/demonscraft.png"
                  width="435"
                  height="760"
                  alt="Demonscraft"
              /></a>
              <h4>Demonscraft</h4>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="demo-item">
              <a href="https://docs.hiroshi-dev.me/"
                ><img
                  src="/assets/images/docs.png"
                  width="435"
                  height="760"
                  alt="Pixel Proyects"
              /></a>
              <h4>Pixel Proyects</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
     <%- include('../../partials/footer') %>
    <!-- Scripts -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/owl-carousel.js"></script>
    <script src="/js/animation.js"></script>
    <script src="/js/imagesloaded.js"></script>
    <script src="/js/custom.js"></script>
  </body>
</html>
