####################################################
##------------------------------------------------##
##                General Config                  ##
##------------------------------------------------##
####################################################

TOKEN= ""
CLIENTID= ""

DOCS= "https://docs.hiroshi-dev.me/"
WEB= "https://panel.hiroshi-dev.me/"
DISCORD= ""

####################################################
##------------------------------------------------##
##               Addon Config                     ##
##------------------------------------------------##
####################################################

WHATSAPP_MODE= false


####################################################
##------------------------------------------------##
##              Express Config                    ##
##------------------------------------------------##
####################################################

DOCS_URL= "https://docs.hiroshi-dev.me/"
SESSION_SECRET= ""
SECRET_JWT= ""
HOST= "localhost"
PORT= 3000

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL= ""

####################################################
##------------------------------------------------##
##             Passport Config                    ##
##------------------------------------------------##
####################################################

CALLBACK_URL= "http://localhost:3000/auth/login"
CLIENTSECRET= ""

####################################################
##------------------------------------------------##
##              Paypal Config                     ##
##------------------------------------------------##
####################################################

PAYPAL_CLIENT_ID= ""
PAYPAL_CLIENT_SECRET= ""
PAYPAL_API= "https://api-m.sandbox.paypal.com"
